
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Mate ton gossip</h1>
      <p class="lead">Toutes les les infos les plus croustillantes</p>
    </div>

<div class="container"
<div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal d-flex w-100 justify-content-center">Détails du gossip</h4>
          </div>
          <div class="card-body"
            <ul class="list-unstyled mt-3 mb-4">
              <li class="card-text d-flex w-100 justify-content-center"><%= @gossip.user.first_name %></li>
              <li class="card-text d-flex w-100 justify-content-center"><%= @gossip.title %> </li>
              <li class="card-text d-flex w-100 justify-content-center"><%= @gossip.content %> </li>
              <li class="card-text d-flex w-100 justify-content-center"><%= @gossip.user.city.name %> </li>
            </ul>
          </div>
        </div>
